testhread
checkkeys
testtimer
testtypes
testver
testsprite
testalpha
threadwin
testbitmap
testwin
testjoystick
testlock
testsem
loopwave
testvidinfo
testwm
testcdrom
testerror
testgl
testkeys
graywin
testpalette
torturethread
